<div>
  <div class="askuery-form">
    <%= form_tag(:controller => 'system', :action => 'add_new_reply', :user_id => session[:id], :post_id => @post.id) do %>
      <%= text_area_tag(:question, "", :class => "text-input") %>
      <br />
      <br />
      <div class="button-panel-container">
        <div class="button-panel">
          <ul>
            <li><%= link_to "Home", :controller => 'system', :action => 'index', :class => "go-back" %></li>
          </ul>
        </div>
        <div class="form-button-panel">
          <ul>
            <li><%= submit_tag("Click here to Post", :class => "form-button") %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <br />
    <br />
    <br />
    <hr />
  </div>

</div>