<meta http-equiv="refresh" content="60" />
<br />
<div class="title">
  Question Trail
</div>
<br />
<div class="post-container">
  <%= render(@post) %>
  <%= render(@posts) %>
</div>
<div>
  <br />
  <hr>
  <br />
  <div class="title">
    Reply Here
  </div>
  <br />
  <br />
  <%= render 'reply_form' %>

</div>
