<meta http-equiv="refresh" content="60" />
<br />
<div class="title">
  Top Questions
</div>
<br />
<div class="post-container">
  <% if @posts.size > 0 %>
    <%= render(@posts) %>
  <% else %>
    Be the first one to ask a Question
  <% end %>
</div>

