<br />
<div class="title">
  Search Results
</div>
<br />
<div class="post-container">
  <% if @posts and @posts.size > 0 %>
    <%= render(@posts) %>
  <% else %>
    <% if @username and @username == '1' %>
      No posts by users with "<%= @query %>" in their Username
    <% elsif @username and @username == '0' %>
      Users with "<%= @query %>" in their Usernames does not exist
    <% else %>
      The search query "<%= @query %>" did not match
    <% end %>
  <% end %>
</div>